.lol-loading-screen-container.lol-loading-screen-default-state {
	backdrop-filter: blur(15px) ;
	background: transparent!important;
}

.lol-loading-screen-progress-bar-container {
	width: 400px !important;
	top: 35px !important;

}

.lol-loading-screen-container .lol-loading-screen-lol-icon {
	background: var(--GuraSpin) !important;
	background-repeat: no-repeat !important;
	background-size: 100% !important;
	width: 100px !important;
	height: 100px !important;
}